<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">MinShop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style=" background-color: white;"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a href="/?vercelToolbarCode=_zf9JGIhTK_FNvQ/" class="nav-link active text-white" aria-current="page" href="#">Dashboard</a>
                <a href="/?vercelToolbarCode=_zf9JGIhTK_FNvQ/manage" class="nav-link text-white" aria-current="page" href="#">manage</a>
                <a href="/?vercelToolbarCode=_zf9JGIhTK_FNvQ/add_new" class="nav-link text-white" aria-current="page" href="#">new</a>

            </div>
        </div>
    </div>
</nav>